{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit">
            </form>
    </div>
    <script type="text/javascript">
    $(document).ready(
    function(){
        $('input:submit').attr('disabled',true);
        $('input:file').change(
            function(){
                if ($(this).val()){
                    $('input:submit').removeAttr('disabled');
                }
                else {
                    $('input:submit').attr('disabled',true);
                }
            });
    });
    </script>
{% endblock content %}