{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

        {% if t_author_list %}
            <h5>Authors</h5>
            {% for t_author in t_author_list %}
            <p>Email: {{ t_author.email }}</p>
            <p>First Name: {{ t_author.first_name }}</p>
            <p>Last Name: {{ t_author.last_name }}</p>
            <p>University: {{ t_author.university }}</p>
                <p>Department: {{ t_author.department }}</p>
                <a href="{% url 'remove_t_author' t_author_id=t_author.id %}" class="btn btn-danger">Remove author</a>
                <hr>
            {% endfor %}
        {% endif %}

            <a href="{% url 'author_add' %}" class="btn btn-primary">Add author?</a>
        {% if t_author_list %}
        <a href="{% url 'clear_temp' %}" class="btn btn-primary">Clear authors</a>
        {% endif %}

    {{ article_form|crispy }}

    <input type="submit" value="OK">

    </form>


{% endblock content %}