{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <h1>{{ article.title }}</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ article_form|crispy }}
                <input type="submit" value="Update article">
            </form>

            <h1>Authors</h1>

                <div class="card">
                  <div class="card-body">
                      {% for author in authors %}
                          <p>Email: {{ author.email }}</p>
                          <p>First Name: {{ author.first_name }}</p>
                          <p>Last Name: {{ author.last_name }}</p>
                          <p>University: {{ author.university }}</p>
                          <p>Department: {{ author.department }}</p>
                          <a href="{% url 'remove_author' author_id=author.id%}" class="btn btn-danger">Remove</a>
                          <br>
                      {% endfor %}
                  </div>
                </div>
                <br>
                <a href="{% url 'add_author' article_id=article.id%}" class="btn btn-primary las la-user-circle">Add author</a>

            <h1>Files</h1>
            {% for article_file in article_files %}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ article_file.file }}</h5>
                    <a href="{% url 'update_article_file' pk=article_file.id  %}" class="card-link btn btn-info btn-sm las la-edit">Edit File</a>
                    <a href="{% url 'delete_article_file' article_file_id=article_file.id  %}" class="card-link btn btn-danger btn-sm las la-minus-circle">Delete File</a>
                  </div>
                </div>
                <p></p>
            {% endfor %}
    <br>
    <a href="{% url 'create_article_file' article_id=article.id  %}" class="card-link btn btn-success las la-plus">Add New File</a>

    </div>
{% endblock content %}