{% extends "base.html" %}
{% block content %}

    <div class="content-section">
        <ul>
            {% for article in object_list %}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Title: {{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Stage: {{article.get_stage_display }}</h6>
                    <p class="card-text">Uploaded at: {{ article.uploaded_at }}</p>
                    <p class="card-text">Type: {{article.get_type_display }}</p>
                                    {% if user.user_role == 'AUTHOR' %}
                    <a href="{% url 'update_article'  article_id=article.id %}" class="card-link btn btn-primary las la-binoculars">Update/View</a>
                    {% if article.stage == 'DRAFT' %}
                       <a href="{% url 'publish_article' article_id=article.id %}" class="card-link btn btn-info las la-upload">Publish article</a>
                       <a href="{% url 'delete_article'  article_id=article.id %}" class="card-link btn btn-danger las la-minus-circle">Delete</a>
                        {% elif article.stage == 'REJECTED' %}
                       <a href="{% url 'delete_article'  article_id=article.id %}" class="card-link btn btn-danger las la-minus-circle">Delete</a>

                        {% else %}
                        <a href="{% url 'view_article'    article_id=article.id %}" class="card-link btn btn-secondary las la-comment">View Reviews</a>
                        {% endif %}

                {% elif user.user_role == 'REVIEWER' %}
                   <a href="{% url 'view_article'  article_id=article.id %}" class="card-link btn btn-primary las la-comment">Review</a>

                  {% elif user.user_role == 'EDITOR' %}
                  <a href="{% url 'view_article'    article_id=article.id %}" class="card-link btn btn-secondary las la-comment">View Reviews</a>
                   {% endif %}
                  </div>
                </div>

            {% empty %}
                <li>No articles yet.</li>
            {% endfor %}
        </ul>
    </div>
    {% if object_list %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>

    </div>
    {% endif %}


{% endblock content %}