{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit">
            </form>
    </div>
{% endblock content %}