{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Update">
    </form>
</div>

{% endblock content %}