{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        {% for article_file in article_files %}
            <p><a href="{% url 'download_document' article_file_id=article_file.id %}">{{ article_file.file }}</a></p>
        {% endfor %}

    </div>
    <h2>Reviews</h2>
    <div class="content-section">

        {% for review in page_obj %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ review.reviewer.username }}</h5>
            <p class="card-text">{{ questions.0}}</p>
            <p class="card-text">{{ review.get_q1_display }}</p>

             <p class="card-text">{{ questions.1}}</p>
            <p class="card-text">{{ review.q2 }}</p>

             <p class="card-text">{{ questions.2}}</p>
            <p class="card-text">{{ review.q3 }}</p>

             <p class="card-text">{{ questions.3}}</p>
            <p class="card-text">{{ review.q4 }}</p>

             <p class="card-text">{{ questions.4}}</p>
            <p class="card-text">{{ review.get_q5_display }}</p>


                {% if user.user_role == 'EDITOR' %}
                    <p class="card-text">{{ questions.5 }}</p>
                    <p class="card-text">{{ review.q6 }}</p>
                {% endif %}
            </div>
            {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
        </div>


    </div>
        {% if user.user_role == 'EDITOR' %}
        {% if article.stage == 'OPEN' %}
        <a href="{% url 'reject_article' article_id=article.id %}" class="btn btn-danger las la-times">Reject article</a>
        <a href="{% url 'accept_article' article_id=article.id %}" class="btn btn-success las la-check">Accept article</a>
                <a href="{% url 'accept_without_modifications_article' article_id=article.id %}" class="btn btn-info las la-check">Accept article without modifications</a>
                {% endif %}
            {% endif %}
        {% if user.user_role == 'REVIEWER' %}
        <a href="{% url 'upload_review' article_id=article.id %}" class="btn btn-primary las la-comment-dots">Upload Review</a>
        {% endif %}

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>




{% endblock content %}