{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ r_form|crispy }}
    <button type="submit">Upload review</button>
  </form>

{% endblock %}
